.dropdown-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.dropdown-item__image {
  display: block;
  width: 50px;
  border: 1px solid var(--primary);
  margin: 0 10px;
}

.dropdown-item__title {
  font-family: var(--font3);
  font-size: .8rem;
  color: var(--primary);
  line-height: .8rem;
  text-align: left;
  width: calc(100% - 150px);
}

.dropdown-item__span {
  width: 30px;
  font-size: .8rem;
}

.dropdown-item__span:last-of-type {
  cursor: pointer;
}
